div {
    display: flex;
    color: blue;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}

#header { 
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
}

#subheader {
    display: flex;
    justify-content: center;
    padding: 20px
}

#price {
    display: flex;
    font-size: 64px;
    font-weight: 700;
    justify-content: center;
    padding: 20px
}